*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: sans-serif;
}

.section{
    max-width: 1440px;
    margin: 0 auto;
}

.py-40{
    padding: 40px 0;
}

header{
    background-color: black;
    padding: 40px 0;
}

header nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a{
    color: white;
    font-size: 20px;
}

.block1 img{
    width: 500px;
    margin-bottom: 20px;
}

.block1 h1, .block1 h3{
    margin-bottom: 10px;
}

.block1-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.block1-card img{
    width: 600px;
}

.block1 p{
    font-size: 20px;
    line-height: 2;
    width: 1200px;
    margin-bottom: 20px;
}

.images{
    display: flex;
    align-items: center;
    gap: 20px;
}

p{
    padding: 10px 0;
}